@import "tailwindcss";

@theme {
  --color-brand-green: #1E5E45;
  --color-brand-light: #F3F6F5;
  --color-brand-dark: #133D2D;
  --color-brand-gray: #8C9491;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-brand-light); 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#app-wrapper {
  max-width: 480px; /* 模拟手机端宽度 */
  margin: 0 auto;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
  position: relative;
}
